body {
    font-family: "Manrope", sans-serif;
    background: #F5F5F5;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    max-width: 1400px;
    background: #FFFFFF;
    padding: 125px;
    box-sizing: border-box;
}

.interior {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('interrior.png');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.image-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
}

p.description {
    margin-top: 30px;
    width: 100%;
    max-width: 1048px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
}

a {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.projects-section {
    width: 100%;
}

.block-proj {
    padding-top: 30px;
    width: 100%;
    margin-bottom: 80px;
}

.block-proj:last-child {
    margin-bottom: 0;
}

.block-proj__image {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: bottom;
}

.block-proj__info {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    margin-top: 20px;
}

.block-proj__detalize {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
    padding-top: 20px;
}

.btn-look-proj {
    margin-top: 117px;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    background: transparent;
    color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
}

.btn-look-proj:hover {
    background-color: #AD1818;
    transition: 0.3s;
    color: #F5F5F5;
}

.btn-h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 0;
}

.black_section {
    margin: 150px -125px 0 -125px;
    padding: 150px 125px;
    background: #121212;
    box-sizing: border-box;
}

.serv {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -3%;
}

.block-serv {
    margin-top: 50px;
}

.block-serv_image {
    width: 1150;
    height: 270;
}

.block-serv_info {
    margin-top: 25px;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -3%;
}
